<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inventory Tracking System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>inventory Management System</h1>
        <hr>
        <h2>Update Inventory</h2>

        <form action="#" th:action="@{/updateNewInventoryItem}" th:object="${inventory}" method="POST">
			
         	
            <input type="hidden" th:field="*{id}" />
			<label>Product Name:</label>
            <input required type="text" th:field="*{prodName}" class="form-control mb-4 col-4">
            <label>Product Type:</label>
            <input type="text" th:field="*{prodType}" class="form-control mb-4 col-4">
            <label>Product Description:</label>
            <input type="text" th:field="*{prodDesc}" class="form-control mb-4 col-4">
            <label>Product Quantity:</label>
            <input required type="number" min=0 max=99999 th:field="*{quantity}" class="form-control mb-4 col-4">
			<div class="alert alert-warning" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Value should be 0 to 99999</div>
				
			<label>Location:</label>
			<div th:object="${locations}" > 
			<select class="form-control mb-4 col-4" id="locaiton" name="location">
			
		        <option th:each="item : ${locations}"
		                th:value="${item.id}"
		                th:text="${item.location}"
		                th:selected="${item == inventory.location}"></option>
		    </select>
		    </div> 
		    <div><small>*</small> The combination of Product Name and Location should be unique in the system or an error page is shown. </div><br/>
            <button type="submit" class="btn btn-info col-2"> Update inventory</button>
            
        </form>

        <hr>

        <a th:href="@{/index}"> Back to Home Page</a>
    </div>
</body>

</html>